* {
    margin: 0;
    padding: 0;
}

main {
    display: block;
    width: 100%;
    max-width: 350px;
    margin: 50px auto 0;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    border: 1px solid;
}

.grid div {
    width: 20px;
    height: 20px;
}

.shooter {
    background-color: blue;
}

.invader {
    background: purple;
    border-radius: 10px;
}

.boom {
    background: red;
}

.laser {
    background: yellow;
}