* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 20px;
    background: rgb(59, 59, 59);
}

h1 {
    text-align: center;
    color: #fff;
}

main {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 30px auto 0;
}

h2 {
    color: #fff;
}

.grid {
    background: skyblue;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    border: 1px solid;
}

.grid div {
    width: 20px;
    height: 20px;
}

.shooter {
    background-color: blue;
}

.invader {
    background: purple;
    border-radius: 10px;
}

.boom {
    background: red;
}

.laser {
    background: yellow;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

footer > span {
    font-family: 'ZCOOL XiaoWei', serif;
    font-weight: 400;
    font-size: 12px;
    color: white
}

footer > img {
    width: 20px;
    padding: 10px;
}

